@tailwind base;
@tailwind components;
@tailwind utilities;

p.textmessage {
    padding: 0.3rem;
}

.textmessage ol {
    list-style: decimal;
    padding-left: 2rem;
}

.textmessage ul {
   list-style-type: disc; 
   list-style-position: inside;
   padding-left: 2rem;
}

.microphone-svgXXX {
    margin: 0.5rem;
    /* border-radius: 50%; */
    /*width: 60px;
    height: 60px; */
    /* padding: 6px;     */
}


.microphone-svg-container {
  position: relative;
}


.microphone-level-inside-gray {
    position: absolute;
    bottom: 0;
    left: 25%; 
    width: 50%;
    height: 0%;
    background-color: rgba(128,128,128,0.5); 
}


.microphone-level-inside {
    position: absolute;
    bottom: 35%;
    left: 30%; 
    width: 40%;
    height: 0%;
    background-color: rgba(0,0,0,1.0); 
}


.microphone-level {
    border: 1px black solid;
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 100%;
    clip-rect: xywh(0 100% 100% 0);
    
    background-image:  linear-gradient(to top, lightgreen, lightgreen, red); 
    /*background-color:  rgba(220,10,10,1); */
}


.microphone-level-left {
    left: -60%;
    display: none;
}



.microphone-level-right {
    right: -60%; 
    display: none;
}

.show-hide-block {
    min-width: 876px;
    background-color: #F4F4F4;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


@media screen and (max-width: 970px) {
    .show-hide-block {
	min-width: 750px;	
    }
}

@media screen and (max-width: 680px) {
    .show-hide-block {
	min-width: 450px;	
    }
}

@media screen and (max-width: 420px) {
    .show-hide-block {
	min-width: 390px;	
    }
}

/*
.audio-spectrum-visualizer {
    background-color: white;
}
*/

